# =====================
# Node.js / Backend
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Builds / dist
build/
dist/
.cache/
.next/
out/

# Configs sensíveis
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
*.csv

# =====================
# React / Frontend
# =====================
*.bak
*.tmp
*.swp

# Cache do React
.cache/
.eslintcache

# =====================
# Sistema / OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs / Editores
# =====================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# Testes
# =====================
coverage/
*.lcov
